flask~=2.1.1
flask-Cors~=3.0.8
flask-sqlalchemy~=2.5.1
SQLAlchemy~=1.4
Werkzeug~=2.1.1
Flask-Migrate~=2.5.3
python-dotenv~=0.15.0
jinja2~=3.1.1
requests~=2.27.1
python-dateutil
celery~=5.2
pydantic
sqlalchemy_utils
redis
psycopg2-binary~=2.9.3
# rdbbeat # Uncomment once rdbbeat is released